*{
	box-sizing: border-box;
	font-family:Microsoft YaHei;
	margin:0;
	padding:0;
}
.middle{
	vertical-align: middle;
}
.fr a{
	color: #fff;
}
.lbtn a{
	color: #fff
}
a{
	text-decoration: none;
}
.notive_d1 a{
	color: #000
}